**/.terraform/*

# .tfstate files
terraform.tfstate
Terraform/terraform.tfstate
Terraform/terraform.tfstate.backup

# Crash log files
**/crash.log/*

**/override.tf/*
**/override.tf.json/*
**/*_override.tf/*
**/*_override.tf.json/*